
body {
  font-family: "Poppins";
  background: linear-gradient(to right,#b2ebf2);
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}
h1 {
  color: #1d4548;
  text-shadow: 2px 2px 6px rgba(21, 87, 36, 0.3);
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 20px;
}
img {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  border: 4px solid #2c7a7b;
  box-shadow: 0 5px 15px rgba(44, 122, 123, 0.4);
  transition: transform 0.4s ease;
}

img:hover {
  transform: scale(1.1);
}
h2 {
  color: #0d6efd;
  margin-top: 25px;
  margin-bottom: 10px;
  text-decoration: underline dotted #0d6efd;
}
p {
  font-size: 1.1em;
  margin: 8px auto;
  width: 80%;
  line-height: 1.6;
  font-weight: bold;
  color: #021414;
}
a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
a:hover {
  color: #ff6600;
  text-shadow: 0px 0px 10px rgba(255, 102, 0, 0.5);
}
nav {
  background: linear-gradient(90deg, #24c3b6, #38efe6);
  padding: 15px 0;
  margin-top: 40px;
  border:3px solid rgb(3, 87, 97)
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav a:hover {
  background: white;
  color: #11998e;
  transform: scale(1.05);
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.4);
}
p a {
  display: inline-block;
  margin: 8px 15px;
  font-size: 1.1em;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
section, main {
  background: rgba(255, 255, 255, 0.8);
  margin: 30px auto;
  width: 85%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.2);
}
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  img {
    width: 150px;
    height: 150px;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
    margin: 0px;
  }
  p {
    width: 90%;
  }
   button {
    height: 50px;
    width: 50%;
    margin: 5px;
    padding: 2px;
  }
   
}
