
body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  color: #4caf50;
  margin-top: 20px;
  text-decoration: underline;
}
img {
  width: 200px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
img:hover{
     transform: scale(1.1); 
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: white;
}

caption {
  caption-side: top;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a237e;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e3f2fd;
  transition: 0.3s;
}
tfoot td {
  background-color: #c8e6c9;
  font-weight: bold;
}
button {
  border-radius: 3px;
  background-color: white;
}
button:hover{
    background-color:#c8e6c9;
    padding: 2px ;
    border-radius: 5px;
    border-color: #243425;
    transform: scale(1.05);
     transition: background-color 0.3s ease, transform 0.3s ease;
}
 @media (max-width:600px){
  img {
      width:130px;
  }
    table {
      width:90vw;
       font-size:14px;
       padding: 0px;
       font-size: small;
    }
    button{
      width: 90%;
    }
  }
 







