*{
   
    box-sizing:border-box;
    font-family: Arial;
}
header{
    text-align: center;
    top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
header:hover{
  padding: 3px;
  border-radius: 2px;
  
}
body{
    background:linear-gradient(right, #e3f2fd,#fce4ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 .product-card{
    background: white;
    width: 300px;
    border-radius: 15px;
 box-shadow:  5px ;
 overflow: hidden;
 text-align: center;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 .product-card:hover{
    transform: translate(-8px);
    box-shadow: 10px;
 }
 .product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
 }
 .product-card h2{
     font-size: 1.4rem;
  margin: 15px 0 5px;
  color: #333;
 }
 .product-card p {
  color: #555;
  font-size: 0.9rem;
  margin: 0 15px 15px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1976d2;
  margin-bottom: 15px;
}
.btn {
  display: inline-block;
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.btn:hover {
  background: #0d47a1;
  transform: scale(1.05);
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 20px;
  }

  .product-card {
    width: 90%;
  }
}