body{
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header h1{
 margin: 0;
 font-size: 2.5rem;
}
section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px;
}
 h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
 }
 ul {
    list-style-type: square;
    padding-left: 20px;
 }
footer{
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}
a {
    color: #f1c40f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (min-width: 768px) {
body {
    display: flex;;
    flex-direction: column;
    align-items: center;
}
section {
    width: 60%;
}
}
section:hover {
transform: translate(-5px);
box-shadow: 10px;
background: #f8faff;
border: 1px solid;
}

